<section class="co-user-excerpt">
    <div class="el-user-excerpt-avatar">
        <%= image_tag 'avatar.jpg' %>
    </div>
    <div>
        <h1 class="el-user-excerpt-name">User Name</h1>
        <p class="el-user-excerpt-description">User description lorem ipsum dolor sit amet.</p>
    </div>
</section>