<div class="co-user-stats">
    <div>
        <span class="el-user-stats-icon --up"></span>
        <span class="el-user-stats value">72%</span>
    </div>
    <p class="el-user-stats-description">Fake data 01</p>
</div>