<div class="co-user-rating">
    <div class="el-user-rating-value">
        <span>8.7</span> out of 10
    </div>
    <div class="progress el-user-rating-progress">
        <div class="progress-bar" role="progressbar" style="width: 80.7%" aria-valuenow="8.7" aria-valuemin="0" aria-valuemax="10"></div>
    </div>
</div>