<div class="co-main-menu">
    <a href="#" class="el-main-menu-close-button d-block d-lg-none" onclick="hideMainMenu(event,this)">
        <i class="fas fa-times"></i>
    </a>
    <%= partial "partials/elements/el-main-menu" %>
</div>