.co-main-menu {
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color2;
    padding: 20px;
    padding: 1.25rem;
    display: none;

    @media (min-width: 992px) {
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
        display: block;
    }
}