.co-simple-accordion {
    
    &.--excerpted {
        & .collapse {
            display: block;
            height: 40px;
            overflow: hidden;
        }
        
        & .collapsing {
            height: 40px;
        }

        & .collapse.show {
            height: auto;
        }
    }
}