.bl-tabs {
    position: relative;
    z-index: 888888;

    & .nav-tabs {
        border-bottom: 4px solid $grey2;
    }

    & .tab-content {
        padding: 64px 56px;
        padding: 4rem 3.5rem;
        
        & .tab-pane {
            width: 100%;
        }
    }

    & .card-block {
        padding: 30px;
        padding: 1.875rem;
    }

    & .card-header {
        background: white;
    }

    .card.nav-item {
        margin: 0 0 5px 0;
        border: 1px solid $color1;
        border-radius: 0;
    }
}