---
title: HomeMetaTitle
description: HomeMetaDescription
keywords:
breadcrumbstitle:
apname:
ogtitle:
ogdescription:
ogurl:
ogtype:
ogimage:
ogsitename:
twcard: summary
twsite:
twimage:
twdescription:
scname:
scdescription:
scimage:
---

<main>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bl-main">
					<%= partial "partials/blocks/bl-tabs" %>
				</div>
			</div>
		</div>
	</div>
</main>