.el-simple-accordion-view-more {
    color: $grey5;
    background: none;
	border: none;
    font-weight: 600;
    padding: 0;
    position: relative;
    z-index: 999999;
    
    &:hover {
        cursor: pointer;
        color: $color1;
    }

    & i {
        margin-right: 5px;
    }
}