<nav class="el-main-menu">
    <ul>
        <li>
            <%= link_to "First Link", '/' %>
        </li>
        <li>
            <%= link_to "Second Link", '/' %>
        </li>
        <li>
            <%= link_to "Third Link", '/' %>
        </li>
        <li>
            <%= link_to "Fourt Link", '/' %>
        </li>
    </ul>
</nav>