<div class="bl-user-stats wow fadeIn" data-wow-duration="700ms" data-wow-delay="1500ms">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="co-user-stats">
                <div class="wrapper">
                    <span class="el-user-stats-icon --up"></span>
                    <span class="el-user-stats-value">72%</span>
                </div>
                <p class="el-user-stats-description">Fake data 01</p>
            </div>
        </div>
        
        <div class="col-12 col-lg-4">
            <div class="co-user-stats">
                <div class="wrapper">
                    <span class="el-user-stats-icon --down"></span>
                    <span class="el-user-stats-value">91%</span>
                </div>
                <p class="el-user-stats-description">Fake data 02</p>
            </div>
        </div>
        
        <div class="col-12 col-lg-4">
            <div class="co-user-stats">
                <div class="wrapper">
                    <span class="el-user-stats-icon --up"></span>
                    <span class="el-user-stats-value">37%</span>
                </div>
                <p class="el-user-stats-description">Fake data 03</p>
            </div>
        </div>
    </div>    
</div>