<div class="bl-option-buttons">
    <button class="co-option-buttons">
        <i class="el-option-buttons-icon icon-ui-Calendar"></i>
        <span class="el-optoin-buttons-name">Calendar</span>
    </button>
</div>