<header class="bl-header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <%= image_tag 'company-logo.svg', :class => "el-header-logo", :alt => "Company Name" %>
            </div>
        </div>
    </div>
</header>