<div class="bl-option-buttons">
    <div class="row">
        <div class="col-6 col-lg-4">
            <a href="#" class="co-option-buttons">
                <i class="el-option-buttons-icon icon-ui-Calendar"></i>
                <span class="el-option-buttons-name">Calendar</span>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <a href="#" class="co-option-buttons">
                <i class="el-option-buttons-icon icon-ui-Stats"></i>
                <span class="el-option-buttons-name">Stats</span>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <a href="#" class="co-option-buttons">
                <i class="el-option-buttons-icon icon-ui-Diffusion"></i>
                <span class="el-option-buttons-name">Diffusion</span>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <a href="#" class="co-option-buttons">
                <i class="el-option-buttons-icon icon-ui-Messages"></i>
                <span class="el-option-buttons-name">Messages</span>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <a href="#" class="co-option-buttons">
                <i class="el-option-buttons-icon icon-ui-Profile"></i>
                <span class="el-option-buttons-name">Profile</span>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <a href="#" class="co-option-buttons">
                <i class="el-option-buttons-icon icon-ui-Settings"></i>
                <span class="el-option-buttons-name">Settings</span>
            </a>
        </div>
    </div>
</div>