<footer class="bl-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Fake Project © 2019</p>
            </div>
        </div>
    </div>
</footer>