<header class="bl-header wow fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                <div class="el-header-logo flex-grow-1">
                    <% link_to '/' do %>
                    Company Name
                    <% end %>
                </div>
                <a class="el-burger-menu d-block d-lg-none" href="#" onclick="showMainMenu(event,this)"><i class="fas fa-bars"></i></a>
                <%= partial "partials/components/co-main-menu" %>
            </div>
        </div>
    </div>
</header>