<div class="bl-tabs">
    <ul class="nav nav-tabs responsive" id="homeTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active el-tabs-button" id="firstTab-tab" data-toggle="tab" href="#firstTab" role="tab" aria-controls="firstTab" aria-selected="true">
                First tab
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link el-tabs-button" id="secondTab-tab" data-toggle="tab" href="#secondTab" role="tab" aria-controls="secondTab" aria-selected="false">
                Second tab
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link el-tabs-button" id="thirdTab-tab" data-toggle="tab" href="#thirdTab" role="tab" aria-controls="thirdTab" aria-selected="false">
                Third tab
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link el-tabs-button" id="fourthTab-tab" data-toggle="tab" href="#fourthTab" role="tab" aria-controls="fourthTab" aria-selected="false">
                Fourth tab
            </a>
        </li>
    </ul>
    <div class="tab-content responsive" id="homeTabs">
        <div class="tab-pane fade show active" id="firstTab" role="tabpanel" aria-labelledby="firstTab-tab">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-5 d-flex align-items-center">
                    <%= partial "partials/components/co-user-excerpt" %>
                </div>
                <div class="col-12 col-md-2 col-lg-1 el-hv-line-separator"></div>
                <div class="col-12 col-md-5 col-lg-6 d-flex align-items-center">
                    <%= partial "partials/blocks/bl-user-stats" %>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-md-5 col-lg-5 d-flex align-items-center">
                    <%= partial "partials/blocks/bl-user-rating" %>
                </div>
                <div class="col-12 col-md-2 col-lg-1 el-hv-line-separator"></div>
                <div class="col-12 col-md-5 col-lg-6 d-flex align-items-center">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="secondTab" role="tabpanel" aria-labelledby="secondTab-tab">
            Second Tab
        </div>
        <div class="tab-pane fade" id="thirdTab" role="tabpanel" aria-labelledby="thirdTab-tab">
            Third Tab
        </div>
        <div class="tab-pane fade" id="fourthTab" role="tabpanel" aria-labelledby="fourthTab-tab">
            Fourth Tab
        </div>
    </div>
</div>