<div class="bl-option-buttons">
    <a href="#" class="co-option-buttons">
        <i class="el-option-buttons-icon icon-ui-Calendar"></i>
        <span class="el-option-buttons-name">Calendar</span>
    </a href="#">
</div>