<div class="bl-user-stats">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="co-user-stats">
                <div>
                    <span class="el-user-stats-icon --up"></span>
                    <span class="el-user-stats-value">72%</span>
                </div>
                <p class="el-user-stats-description">Fake data 01</p>
            </div>
        </div>
        
        <div class="col-12 col-md-4">
            <div class="co-user-stats">
                <div>
                    <span class="el-user-stats-icon --down"></span>
                    <span class="el-user-stats-value">39%</span>
                </div>
                <p class="el-user-stats-description">Fake data 02</p>
            </div>
        </div>
        
        <div class="col-12 col-md-4">
            <div class="co-user-stats">
                <div>
                    <span class="el-user-stats-icon --up"></span>
                    <span class="el-user-stats-value">72%</span>
                </div>
                <p class="el-user-stats-description">Fake data 03</p>
            </div>
        </div>
    </div>    
</div>