<div class="bl-user-rating wow fadeIn" data-wow-duration="700ms" data-wow-delay="1800ms">
    <%= partial "partials/components/co-user-rating" %>
    <%= partial "partials/components/co-simple-accordion" %>
</div>